
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

 

    * {

        font-family: 'Poppins', sans-serif !important;

    }

 

    .card {

        width: 400px;

        background-color: #fff;

        border-radius: 12px;

        border: 1px solid #d7d7d7;

        padding: 0px;

        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;

    }

 

 

    .form-control {

        margin-top: 10px;

        height: 48px;

        border: 2px solid #eee;

        border-radius: 10px;

    }

 

        .form-control:focus {

            box-shadow: none;

            border: 2px solid #039BE5

        }

        .labelCss {

            margin-top: 10px;

        height: 70px;
        margin-left: 10%

       
    
        }
 

 
      

    .confirm-button {

        height: 40px;

        border-radius: 10px !important;

        margin-top: 20px;

    }

 

    .headerText {

        font-size: 1.2rem;

        text-align: center;

        text-transform: uppercase;

    }

 

    .outerDiv {

        width: 100%;

        display: flex;

        justify-content: center;

    }

    @media screen and (max-width:779px) {
     .card{
        width: 90% !important;
     }   
    }
    .search{
        border: none;
        outline:  none;
        border-bottom: 1px solid black;
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
       
        
    }
    .nav-search:focus {
        color: black;
        font-weight:bolder;
      }
 
.links{
   
    text-decoration:none;
}

.my-4 {
    margin:  30px 10px 10px 10px!important;
}

@media screen and (max-width:687px) {
    .tablediv{
       overflow-y: scroll!important;
       overflow-x: scroll!important;
    } }

    .card-img-top{
display: flex;
height: 50vh;
justify-content: center;
    }

    .card-body{
        padding: 3%;
    }
    .carousel-item.active {
        display: flex!important;
        justify-content: center!important;
        height: 90vh!important;
    }